<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Libros</title>
    <!-- Enlace al archivo de estilos de Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100">
    <!-- Navbar -->
    <nav class="bg-blue-500 p-4">
        <div class="container mx-auto flex justify-between items-center">
            <h1 class="text-white font-bold text-xl">Proyecto de Backend</h1>
            <ul class="flex space-x-4">
                <li><a href="/" class="text-white hover:text-gray-200">Inicio</a></li>
                <li><a href="/index_autores/" class="text-white hover:text-gray-200">Autores</a></li>
                <li><a href="/index_libros/" class="text-white hover:text-gray-200">Libros</a></li>
            </ul>
        </div>
    </nav>

    <div class="container mx-auto mt-10">
        <h2 class="text-2xl font-bold mb-5">Lista de Libros</h2>
        <table class="table-auto w-full bg-white rounded-lg shadow-lg">
            <thead>
                <tr class="bg-blue-500 text-white">
                    <th class="px-4 py-2">Título</th>
                    <th class="px-4 py-2">Sinopsis</th>
                    <th class="px-4 py-2">Fecha de Publicación</th>
                    <th class="px-4 py-2">Autor</th>
                </tr>
            </thead>
            <tbody>
                {% for libro in libros %}
                <tr class="bg-gray-100">
                    <td class="border px-4 py-2">{{ libro.titulo }}</td>
                    <td class="border px-4 py-2">{{ libro.sinopsis }}</td>
                    <td class="border px-4 py-2">{{ libro.fecha_publicacion }}</td>
                    <td class="border px-4 py-2">{{ libro.autor.name }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

</html>